<!doctype html>
<html th:fragment="layout (template)"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="context-path" th:content="${#request.contextPath}"/>
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4-4.1.1/jq-3.3.1/jszip-2.5.0/dt-1.10.18/af-2.3.3/b-1.5.6/b-colvis-1.5.6/b-flash-1.5.6/b-html5-1.5.6/b-print-1.5.6/cr-1.5.0/fc-3.2.5/fh-3.1.4/kt-2.5.0/r-2.2.2/sc-2.0.0/datatables.min.css"/>

    <title>Datatables</title>

    <style>

        card {
            word-break: break-all !important;
        }

        table {
            border-radius: 0.25rem;
        }

        tfoot input {
            width: 100%;
            padding: 3px;
            box-sizing: border-box;
        }

        tfoot {
            display: table-header-group;
        }
    </style>

</head>
<body>
<div class="container">
    <header class="navbar navbar-expand navbar-light">

        <button class="navbar-toggler" type="button" data-toggle="collapse"
                data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item"><a class="nav-link" href="#"
                                        th:href="@{/department/list}">Departments</a></li>
                <li class="nav-item"><a class="nav-link" href="#"
                                        th:href="@{/employee/list}">Employees</a></li>
            </ul>
        </div>
    </header>

    <div th:if="${message}" class="alert alert-primary" role="alert">
        <span th:text="${message}">message text</span>
    </div>
    <div th:if="${errorMessage}" class="alert alert-danger" role="alert">
        <span th:text="${errorMessage}">message text</span>
    </div>

    <div class="container">
        <th:block th:include="${template}"/>
    </div>

</div>

<script src="https://cdn.datatables.net/v/bs4-4.1.1/jq-3.3.1/jszip-2.5.0/dt-1.10.18/af-2.3.3/b-1.5.6/b-colvis-1.5.6/b-flash-1.5.6/b-html5-1.5.6/b-print-1.5.6/cr-1.5.0/fc-3.2.5/fh-3.1.4/kt-2.5.0/r-2.2.2/sc-2.0.0/datatables.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>

<script>

    function dataTableRequest(owner, data, type) {

        switch (type) {
            case "order":
                var col = data.col;
                var dir = data.dir;
                console.log('Order = ' + col
                    + ':' + dir);
                break;
            case "search":
                console.log('Search');
                break;
            case "length":
                console.log('Length = ' + data);
                break;
            case "page":
                console.log('Page = ' + data);
                break;
        }
    }

    $(document).ready(function () {

        $('table.app-data-table tfoot th').each(function () {
            var title = $(this).text();
            $(this).html('<input type="text" class="form-control" placeholder="Search ' + title + '" />');
        });

        var appDataTable = $('table.app-data-table')
            .DataTable({

                "language": {
                    "lengthMenu": "Display _MENU_ records per page",
                    "zeroRecords": "Nothing found - sorry",
                    "info": "Showing _START_ to _END_ of _TOTAL_ entries",
                    "infoEmpty": "No records available",
                    "infoFiltered": ""
                },
                fixedHeader: {
                    footer: true
                },
                colReorder: true,
                buttons: ['copy', 'excel', 'pdf', 'csv', 'colvis'],
                stateSave: true,
                dom: '<"d-flex justify-content-between"Bl>t<"d-flex justify-content-between"ip><"clear">'

            })
            .on('order.dt', function (e, settings, order) { dataTableRequest(this, order[0], "order"); })
            .on('search.dt', function () { dataTableRequest(this, null, "search"); })
            .on('length.dt', function (e, settings, len) { dataTableRequest(this, len, "length"); })
            .on('page.dt', function () { var page = appDataTable.page.info().page + 1; dataTableRequest(this, page, "page"); })
        ;

        console.log('api = ' + JSON.stringify(appDataTable.page.info()));

        appDataTable.columns().every(function () {
            var that = this;

            $('input', this.footer()).on('keyup change', function () {
                if (that.search() !== this.value) {
                    console.log(this.value);
                    that
                        .search(this.value)
                        .draw();
                }
            });
        });

        appDataTable.buttons().container()
            .appendTo('table.app-data-table_wrapper .col-sm-6:eq(0)');

    });
</script>
</body>
</html>
