<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      th:replace="~{fragments/layout :: layout (~{::body})}">
<head>
    <meta charset="UTF-8">
    <title>Department</title>
</head>
<body>
<div class="card border-primary mb-3">
    <div class="card-header bg-primary text-white">
        Departments
    </div>
    <div class="card-body table-responsive">
        <form action="#" th:action="@{/department/list}" method="post">
            <table class="table table-striped table-bordered table-sm datatables-easy"
                   th:attr="dt-page=${T(org.springframework.data.jpa.datatables.easy.util.JsonUtil).json(departmentPage)}">
                <thead>
                <tr>
                    <th dt-field="id">id</th>
                    <th dt-field="createTime">Create Time</th>
                    <th dt-field="updateTime">Update Time</th>
                    <th dt-field="name">Name</th>
                    <th dt-field="employee.id" dt-orderable="false">emp</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="department,iter : ${departmentList}" role="row" class="odd">
                    <td th:text="${department.getId()}">id</td>
                    <td th:text="${#dates.format(department.getCreateTime(), 'yyyy-MM-dd HH:mm:ss')}">Create Time</td>
                    <td th:text="${#dates.format(department.getUpdateTime(), 'yyyy-MM-dd HH:mm:ss')}">Update Time</td>
                    <td th:text="${department.getName()}">Name</td>
                    <td class="details-control"></td>
                </tr>
                </tbody>
            </table>
        </form>
    </div>
</div>

<script >
    function format ( d ) {
        var id = String(d).split(',')[0];
        return '<table cellpadding="5" cellspacing="0" border="0" style="padding-left:50px;">'+
            '<tr>'+
            '<td>Link:</td>'+
            '<td>'+'<a href="[[@{/employee/list/}]]' + id + '">' + 'Employees' + '</a>'+'</td>'+
            '</tr>'+
            '</table>';
    }
    function getAllEnums() {
        return null;
    }
</script>
</body>
</html>
